@using TimeForge.ViewModels.UserConnection
@model AddFriendInputModel

<div class="add-friend-form-container d-flex justify-content-center align-items-center">
    <form asp-action="AddFriends" method="post" asp-controller="UserConnection" class="add-friend-form">
        <div class="mb-3">
            <label asp-for="Email" class="form-label">User email address</label>
            <input asp-for="Email" type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
            <span asp-validation-for="Email" class="text-danger small"></span>
            <div id="emailHelp" class="form-text">Connect and expand.</div>
        </div>
        <button type="submit"
                id="add-friend-form-submit-button"
                class="btn btn-primary m-auto"
                onclick="handleSubmitFriendForm()">
            <span class="spinner-border spinner-border-sm d-none" id="add-friend-form-submit-spinner" role="status" aria-hidden="true"></span>
            Submit
        </button>
    </form>
</div>