@using TimeForge.ViewModels.Tag;
@model List<TagViewModel>

<form asp-action="Index"
      asp-controller="Project" 
      method="get" 
      id="tagFilterForm" 
      class="tag-filter-form  border-bottom border-1 border-primary pb-2">
    <input type="hidden" id="tagFilterForm_page_number_input" name="page" />
    <div class="d-flex flex-wrap gap-2 justify-content-center">
        @foreach (var tag in Model)
        {
            <div id="tag_input_container">
                <input
                    type="checkbox"
                    class="btn-check"
                    id="tagCheck_@tag.Id"
                    name="selectedTags"
                    value="@tag.Id"
                    autocomplete="off"
                    @(tag.IsChecked ? "checked=\"checked\"" : "")/>
                <label class="btn btn-outline-primary" for="tagCheck_@tag.Id">@tag.Name</label>
            </div>
        }
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Filter</button>
        <a href="@Url.Action("Index", "Project")" class="btn btn-outline-secondary ms-2">Clear</a>
    </div>
</form>